spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:tcp://localhost/~/querydsl
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create # 재실행마다 테이블 초기화
    properties:
      hibernate:
        format_sql: true # To beautify or pretty print the SQL
        show_sql: true # show sql

logging:
  level:
    org.hibernate:
      type.descriptor.sql: trace #show parameter binding
      SQL: DEBUG

server:
  servlet:
    session:
      cookie:
        http-only: true